h1 {
    font-family: 'arial';
    font-weight: extra-bold;
    color: white;
}

body {
    background-color: #1C1C1C;
}

#paragraph {
   color: #D5D4D8;
   font-family: 'arial'
}

#box {
    max-width: 550px;
    max-height: 550px;
    flex-shrink: 0;
}

.generator {
    margin: 5px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

#pwwords {
    display: flex;
}